.home-container {
  background-color: #131313;
  min-height: 782px;
  width: 360px;
}

@media screen and (min-width: 768px) {
  .home-container {
    width: 1440px;
    min-height: 1356px;
  }
}

.home-background-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 45.4%;
  background-image: url('https://res.cloudinary.com/duezhxznc/image/upload/v1676787339/wp2581913-man-of-steel-wallpaper_1_thfcg5.png');
  height: 427px;
}

@media screen and (min-width: 768px) {
  .home-background-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 55.38%;
    background-image: url('https://res.cloudinary.com/duezhxznc/image/upload/v1676874038/Image_fgdtzl.png');
    height: 605px;
    width: 1440px;
  }
}

.home-linear-background {
  left: 0%;
  right: 0%;
  top: 36.45%;
  bottom: 42.84%;
  height: 126px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #131313 92.82%,
    #131313 98.68%,
    #131313 108.61%
  );
}
.home-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: #ffffff;
  margin-left: 32px;
  margin-top: 125px;
  height: 47px;
  width: 176px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    margin-left: 165px;
    font-size: 64px;
    line-height: 62px;
    height: 62px;
    width: 312px;
    margin-top: 120px;
  }
}

.home-description {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 32px;
  width: 296px;
  height: 63px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .home-description {
    height: 78px;
    width: 443px;
    margin-left: 165px;
    margin-top: 24px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 0px;
  }
}

.home-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  width: 76px;
  height: 32px;
  background: #ffffff;
  border-radius: 4px;
  margin-left: 32px;
  border: 0px;
  margin-top: 24px;
}

.contact-heading {
  height: 16px;
  width: 60px;
  margin-top: 14px;
  margin-left: 151px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .home-button {
    margin-left: 165px;
    margin-top: 32px;
    height: 40px;
    width: 74px;
    font-size: 14px;
    line-height: 24px;
  }

  .contact-heading {
  }
}

.contact-container {
}
.contact-icons-container {
  height: 16px;
  width: 111px;
  margin-top: 64px;
  margin-left: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.google-icon {
  height: 16px;
  width: 14px;
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-size: 13.7143px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contact-icons-container {
    margin-top: 94px;
    margin-left: 648px;
    height: 21px;
    width: 145px;
  }

  .google-icon {
    width: 18px;
    height: 21px;
  }

  .contact-heading {
    margin-left: 680px;
    height: 24px;
    width: 80px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
  }
}
