.home-container {
  background-color: #131313;
  min-height: 782px;
  width: 360px;
  position: absolute;
  top: 0%;
}

@media screen and (min-width: 768px) {
  .home-container {
    width: 1440px;
    min-height: 1356px;
  }
}

.home-linear-background {
  left: 0%;
  right: 0%;
  top: 36.45%;
  bottom: 42.84%;
  height: 126px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #131313 92.82%,
    #131313 98.68%,
    #131313 108.61%
  );
}
.home-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: #ffffff;
  margin-left: 32px;
  margin-top: 125px;
  height: 47px;
  width: 176px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    margin-left: 165px;
    font-size: 64px;
    line-height: 62px;
    height: 62px;
    width: 312px;
    margin-top: 120px;
  }
}

.home-description {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 32px;
  width: 296px;
  height: 63px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .home-description {
    height: 78px;
    width: 443px;
    margin-left: 165px;
    margin-top: 24px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 0px;
  }
}

.home-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  width: 76px;
  height: 32px;
  background: #ffffff;
  border-radius: 4px;
  margin-left: 32px;
  border: 0px;
  margin-top: 24px;
}

.contact-heading {
  height: 16px;
  width: 60px;
  margin-top: 14px;
  margin-left: 151px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .home-button {
    margin-left: 165px;
    margin-top: 32px;
    height: 40px;
    width: 74px;
    font-size: 14px;
    line-height: 24px;
  }

  .contact-heading {
  }
}

.home-google-icon {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-size: 13.7143px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;

  /* identical to box height */
}

.home-google {
  position: absolute;
  left: 34.72%;
  right: 61.39%;
  top: 90.51%;
  bottom: 7.88%;
}

.home-twitter {
  position: absolute;
  left: 43.61%;
  right: 52.5%;
  top: 90.51%;
  bottom: 7.88%;
}

.home-instagram {
  position: absolute;
  left: 52.5%;
  right: 43.61%;
  top: 90.51%;
  bottom: 7.88%;
}

.home-facebook {
  position: absolute;
  left: 61.11%;
  right: 34.44%;
  top: 90.51%;
  bottom: 7.88%;
}

.home-contact-heading {
  position: absolute;
  left: 41.94%;
  right: 41.39%;
  top: 93.54%;
  bottom: 4.85%;

  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-contact-heading {
    margin-top: 1263px;
    margin-left: 680px;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 24px;
    width: 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .home-twitter {
    margin-top: 1226px;
    margin-left: 689px;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 21px;
    width: 18px;
  }
  .home-instagram {
    margin-top: 1226px;
    margin-left: 731px;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 21px;
    width: 18px;
  }
  .home-facebook {
    margin-top: 1226px;
    margin-left: 771px;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 21px;
    width: 18px;
  }
  .home-google-icon {
    font-size: 18px;
    line-height: 21px;
  }

  .home-google {
    margin-top: 1226px;
    margin-left: 647px;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 21px;
    width: 18px;
  }
}
