.trending-now-heading {
  height: 21px;
  width: 99px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
}

.slick-prev:before,
.slick-next:before {
  height: 24px;
  width: 24px;
  font-size: 24px;
  color: #131313;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 32px;
}

.slick-container {
  max-width: 360px;
  margin-top: 10px;
  margin-top: 12px;
}

.logo-image {
  margin: 0px 10px;
  height: 64px;
  width: 90px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .main-container {
    margin-top: 0px;
  }

  .trending-now-heading {
    margin-left: 125px;
    margin-top: 194px;
    height: 31px;
    width: 148px;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
  }
  .logo-image {
    height: 170px;
    width: 250px;
  }

  .slick-container {
    max-width: 1000%;
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 24px;
  }
}
